<div class="footer">
    <div class="container">
        <div class="feat_footer social_med">
            <h2>Soft Challengers</h2>
            <a href="https://www.facebook.com/softchallengers/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.facebook.com/softchallengers/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/softchallengers/"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="feat_footer">
            <h2>Usefull Links</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="~/Portfolio">Portfolio</a></li>
                <li><a href="~/About">About</a></li>
                <li><a href="~/Contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="feat_footer">
            <h2>Contact Us</h2>
            <ul>
                <li>Luxor Governorate</li>
                <li><a href="~/Contact">comapny@softchallengers.com</a></li>
                <li>+2-01115458580 <br /> +2-01020037189</li>
            </ul>
        </div>
    </div>
</div>
<div class="copyRight">softchallengers - Agency Company. &copy;All rights reserved <br>Powered by softchallengers</div>